<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body style="background-color: #afd9ee">
<div class="login-main">
    <div class="login">
        <div class="login-1">
            <h2>登录</h2>
        </div>
        <form>
            <div class="login-2">
                <span>用户名：</span><input name="username" id="username" type="text" placeholder="请输入用户名">
            </div>
            <div class="login-2">
                <span>密&nbsp;&nbsp;&nbsp;码：</span><input name="password" id="password" type="password" placeholder="请输入密码">
            </div>
            <div class="login-2">
                <button type="button" id="login" >登录</button>
            </div>
            <div class="login-2">
                <h5>这是一个activiti6.0.0版本的小demo，请使用user:a;pwd:1234登录系统</h5>
            </div>
        </form>
    </div>
</div>

</body>
<script th:inline="javascript" type="text/javascript">
    $("#login").click(function () {
        login();
    });
    $("body").keydown(function(){
        if(event.keyCode == "13"){
            login();
        }
    });
    function login(){
        var username = $("#username").val();
        var password = $("#password").val();
        if(username =="" || password == ""){
            alert("用户名密码不能为空");
            return;
        }
        var obj = {};
        obj.username = username;
        obj.password = password;
        $("#login").attr("disabled","disabled");
        $.ajax({
            url:[[@{/}]]+"login",
            type:"post",
            contentType:"application/json;charset=UTF-8",
            data:JSON.stringify(obj),
            dataType:"json",
            success : function(data){
                $("#login").removeAttr("disabled");
                if(data.code == 0){
                    window.location.href=[[@{/}]]+"index";
                }else{
                    alert(data.msg);
                }
            }
        })
    }
</script>
</html>