<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="description" content="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<script th:src="@{/js/submitform.js}"></script>
<div th:replace="include/main" ></div>
<style>
    .resubmit{
        background:#419641;
        margin-right:20px;
        border-radius: 10px;
        text-align: center;
    }
</style>
<div class="body-right">
    <div class="row">
            <ol class="breadcrumb pull-left">
                <li>调整申请</li>
            </ol>
    </div>
    <div class="main-table container-fluid">
        <table id="grid-data" class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th data-column-id="userId" data-identifier="true" data-type="numeric">申请人</th>
                <th data-column-id="leaveType">类型</th>
                <th data-column-id="startTime">请假开始时间</th>
                <th data-column-id="endTime">请假结束时间</th>
                <th data-formatter="leaveTime" data-column-id="leaveTime">请假时长</th>
                <th data-column-id="reason">请假原因</th>
                <th data-column-id="taskid">任务ID</th>
                <th data-column-id="taskname">任务名称</th>
                <th data-column-id="processInstanceId" >流程实例ID</th>
                <th data-formatter="taskCreateTime" data-column-id="taskCreateTime">任务创建时间</th>
                <th data-formatter="commands">操作</th>
            </tr>
            </thead>
        </table>
        <div class="box-content">
            <form role="form" action="" method="post">
                <div class="form-group">
                    <label>申请人</label>
                    <input class="form-control" id="userId" name="userId" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label>申请时间</label>
                    <input class="form-control" id="applyTime" name="applyTime" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label>请假类型</label>
                    <select id="leaveType" name="leaveType" class="form-control">
                        <option value="事假">事假</option>
                        <option value="病假">病假</option>
                        <option value="年假">年假</option>
                        <option value="丧假">丧假</option>
                        <option value="产假">产假</option>
                    </select>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">开始时间</label>
                    <input id="startTime" class="form-control" name="startTime" placeholder="开始时间"/>
                </div>
                <div class="form-group has-feedback">
                    <label>结束时间</label>
                    <input id="endTime" class="form-control" name="endTime" placeholder="结束时间"/>
                </div>
                <div class="form-group has-feedback">
                    <label>请假时长</label>
                    <input id="leaveTimes" class="form-control" name="leaveTime" placeholder="请假时长"/>
                </div>
                <div class="form-group">
                    <label>请假原因</label>
                    <textarea id="reason" class="form-control" name="reason" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>职务代理人</label>
                    <select id="userJobId" name="userJobId" class="form-control">
                        <option value="1">a</option>
                        <option value="2">b</option>
                        <option value="3">c</option>
                        <option value="4">d</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>是否继续申请</label>
                    <div class="controls">
                        <select id="submitType" name="submitType">
                            <option value="true">重新申请</option>
                            <option value="false">不再申请</option>
                        </select>
                    </div>
                </div>
                <button id="btn" type="button" class="btn btn-default">完成</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>