<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="description" content="description"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<script th:src="@{/js/tlapprove.js}"></script>
<div th:replace="include/main" ></div>
<style>
    .tlapprove{
        background:#419641;
        margin-right:20px;
        border-radius: 10px;
        text-align: center;
    }
</style>
<div class="body-right">
    <div class="row">
            <ol class="breadcrumb pull-left">
                <li>部门领导审批</li>
            </ol>
    </div>
    <div class="main-table container-fluid">
        <table id="grid-data" class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th data-column-id="userId" data-identifier="true" data-type="numeric">申请人</th>
                <th data-column-id="leaveType">类型</th>
                <th data-column-id="startTime">请假开始时间</th>
                <th data-column-id="endTime">请假结束时间</th>
                <th data-formatter="leaveTime" data-column-id="leaveTime">请假时长</th>
                <th data-column-id="reason">请假原因</th>
                <th data-column-id="taskid">任务ID</th>
                <th data-column-id="taskname">任务名称</th>
                <th data-column-id="processInstanceId" >流程实例ID</th>
                <th data-formatter="taskCreateTime" data-column-id="taskCreateTime">任务创建时间</th>
                <th data-formatter="options">选项</th>
                <th data-formatter="commands">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

</body>
</html>